.container {
  display: flex;
  justify-content: space-between;
  .left {
    width:500px;
    background:rgba(253, 253, 253, 1);
    box-shadow:0px 0px 59px 19px rgba(135, 135, 135, 0.08);
    border-radius:5px;
    margin-top: 23.5px;
    padding:24px 78px 60px 80px;
    .container>div{
    margin-bottom: 12px;
    }
  }

  .right {
    margin-top: 63.5px;
    margin-left: 125px;
  }
}