@import '@/styles/global.img.scss';

.container {
display: flex;
justify-content: center;
}

.label {
  .img {
    display: block;
    border-radius: 50%;
    background: #ffffff url($avatar) no-repeat;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }

  .input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .msg {
    display: block;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: rgba(61, 171, 255, 1);
    line-height: 20px;
    text-align: center;
    margin-top: -10px;
  }
}