.btn{
  // width:80px;
  // height:32px;
  background:rgba(45, 149, 245, 1);
  border-radius:5px;

  font-size:15px;
  font-family:Microsoft YaHei;
  color:rgba(255, 255, 255, 1);
  border: none;

}