.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow:0px 1px 30px 0px rgba(76, 149, 209, 0.2);
  cursor: pointer;
  transition: transform .3s ease-in;
  width: 190px;
  height: 140px;
  &:hover{
    // transform: translateX(30px);
    // transform: translateY(-3px);
    transform: scale(1.02);
    box-shadow:0px 1px 30px 0px rgba(12, 69, 116, 0.2);
    transition: transform .3s ease-in;
  }
  .img {
    display: block;
    background-color: rgb(212, 212, 212);
    width: 190px;
    height: 85px;
    border-radius: 5px;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 8.5px;

    .title {
      width: 150px;
      font-size: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .timeBar {
   @extend .titleBar;
    padding-bottom: 9px;
    .time {
      display: flex;
      .font {
        font-size: 8px;
        margin-left: 5px;
      }
    }
    .btn {
      width: 44px;
      height: 16px;
    }
  }
}