.container {
  width: 300px;
  height: 100px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: #ffffff;

  h2 {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }

  .btnGroup {
    text-align: center;

    button {
      margin: 10px;
    }
  }
}