$headerLogo:'~@/assets/images/logo-yuan@2x.png';
$headerSearch:'~@/assets/images/header-search@2x.png';

$loginBac:'~@/assets/images/login-bac@2x.png';

$wechatLogo:'~@/assets/images/wechat@2x.png';  

$avatar:'~@/assets/images/user@2x.png';

$team:'~@/assets/images/team@2x.png';
$competition:'~@/assets/images/competition@2x.png';
$student:'~@/assets/images/student@2x.png';
