* {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
  a{
    text-decoration: none;
    &:hover {
    color: inherit;
  }
  }

  input:focus,textarea:focus {
    outline: none;
    box-shadow: rgba(52, 71, 153, 0.2) 0 1px 5px 0px;
  }
  button{
    cursor: pointer;
    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &.active.focus {
      outline: none;
      border-color: transparent; 
      box-shadow: none;
    }
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #FBF8FB!important;
  &::-webkit-scrollbar {
    width: .5rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: .5rem;
    box-shadow: inset 0 0 5px rgba(128, 125, 125, 0.2);
    background: #afacac;
  }

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    // border-radius: .4rem;
    // background: #ccc;
    background-color: transparent;
  }
}
html {
  overflow: auto;
  // min-height: 101%;
}

html {
  overflow: -moz-scrollbars-vertical;
}
