.container {
  width: 100%;
  height: 50px;
  // background: rgba(141, 205, 255, 1);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  
  // color: rgba(255, 255, 255, 1);
  line-height: 27px;

  // &:hover {
  //   background: rgb(125, 198, 253);
  // }
}