.container {
  width: 300px;

  .title {

    font-size: 16px;
    text-align: center;
    color: rgba(118, 115, 115, 1);
    margin-bottom: 16px;

  }

  .list {
    min-height: 518px;
    background: rgba(253, 253, 253, 1);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    &>div {
      margin-top: 24px ;
    }
  }
  .err{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}