.container {
  width: 100%;
  .antdUpload{
    width: 300px;
    & div:first-child{
      display: block!important;
    }
  }
  .upload{
    display: flex;
    // outline: 1px solid;
    width: 100%;
      .name {
        display: block;
    width: 25%;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    line-height: 30px;
    padding-right: 12.5px;
    font-size:12px;
    color:rgba(91, 91, 91, 1);
  }

  .input {
    display: inline-block;
    width:80%;
    height: 100%;
    min-height: 30px;
    border: 1px solid rgba(220, 220, 220, 1);
    box-shadow: -1px 3px 30px 0px rgba(73, 73, 73, 0.08);
    border-radius: 5px;
    // padding-left: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    background:rgba(216, 234, 235, 1);
    line-height: 30px;
    color:rgba(136, 136, 136, 1);
    cursor: pointer;
    &:hover{
      filter:brightness(0.9);
    }
  }
  }

}