.container {
  &>div{
    margin-bottom: 12px;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      // text-align: center;
      font-size: 15px;
      color: rgba(136, 136, 136, 1);
      margin-bottom: 0;
      display: block;
      width: 200px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // margin-right: 50px;
    }
  }

}

.btn {
  height: 24px;
  width: 60px;
}

.star{
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}
.starFiled{
  @extend .star;
  color: rgba(255, 190, 14, 1);
}