.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  span {
    text-align: center;
    font-size: 11px;
    color: rgba(136, 136, 136, 1);
  }

  .icon {
    cursor: pointer;
  }
}